.header {
	display:  flex;
	height: 3rem;
	justify-content: start;
}

.label {
	font-family: arial;
	font-size: 1.2rem;
}

.grid-container {
	display: flex;
	width: 93vmin;
	height: 93vmin;
}

.grid-column {
	display:  flex;
	flex-direction: column;
	flex: 1;
}

.grid-cell {
	display: flex;
	flex: 1;
	transition: background 0.2s;
	border: 1px dotted lightblue;
}

.activeCell {
	background: #2c03fc;
}	

.reset {

}